<!DOCTYPE html>
<html>
<head>
    <title>Choose Sub-Category</title>
</head>
<body>
    <h1>Choose a sub-category for {{ category }}.</h1>
    <form action="/stocks" method="POST">
        <input type="hidden" name="category" value="{{ category }}">
        <select name="subcategory">
            {% for subcategory in subcategories %}
            <option value="{{ subcategory }}">{{ subcategory }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Next">
    </form>
</body>
</html>